/coverage
/node_modules
/public/client_assets/css
/public/client_assets/js
/public/client_assets/fonts
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
