.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.error-message {
    color: #d30000;
    margin: 0.25rem !important;
    display: none;
}

.border-error {
    border: 1px solid red;
}

.object-fit-cover {
    object-fit: cover;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.position-search {
    top: 11px;
    right: 11px;
    color: gray;
}

.cursor-pointer {
    cursor: pointer;
}
